<!DOCTYPE html>
    <html>
       <head>
           <meta charset="utf-8" />
           <title>simpleBBS</title>
       </head>
       <body>
            <h1>エラー！</h1>
            <p>書き込み数がいっぱいです．管理人に連絡してください．</p>
            <p>連絡先:17429@g.nagano-nct.ac.jp</p>
            <a href="/">掲示板に戻る</a>
       </body>
   </html>
